<!-- FOOTER -->
  
<div style="background: white;">  
    <div>
      <div style="display: flex;align-items: center;justify-content: center;flex-wrap: wrap;padding-left: 20%;padding-right: 20%;">

    <div *ngIf="!mobileView"  style="display: flex;flex-wrap: wrap;flex: 40%;">
        <div style="flex:5%;" >
          <div class="ui list">
            <p style="color: grey;" class="footeritem">© 2021 GitHub, Inc.</p>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">Terms</a>
          </div>
        </div>
  
  
        <div style="flex:5%;">
          <div class="ui link list">
            <a class="footeritem" href="#">Privacy</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">Security</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#" >Status</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">Docs</a>
          </div>
        </div>
    </div>

    <div style="flex:5%;">
        <div style="text-align: center;" class="ui inverted link list">
          <i style="color: #d1d5da;" class="large github middle aligned icon"></i>
        </div>
      </div>

    <div *ngIf="!mobileView"  style="display: flex;flex-wrap: wrap;flex: 40%;">
        <!-- <div style="flex:5%;" class="">
          <div class="ui inverted link list">
            <i style="color: #d1d5da;" class="large github middle aligned icon"></i>
          </div>
        </div> -->
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#" >Contact Github</a>
          </div>
        </div>
  
        <div style="flex:5%;">
          <div class="ui link list">
            <a class="footeritem" href="#" >Pricing</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#" >API</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">Training</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">Blog</a>
          </div>
        </div>
  
        <div style="flex:5%;" >
          <div class="ui link list">
            <a class="footeritem" href="#">About</a>
          </div>
        </div>
    </div>
  
      </div>
    </div>
  </div>