<!-- HEADER -->
<div class="ui  menu">
    <div class="left menu">
  
      <div class="item borderless">
        <i class="large github middle aligned icon"></i>
      </div>
      
      <ng-container *ngIf="!mobileView" >
      <div class="item borderless grey">
        <div class="ui icon input">
          <input style="background-color: #24292e;border: 1px solid #444d56;color:white" class="small" type="text" placeholder="Search...">
          <i style="line-height: 38px;" class="middle aligned icon">
            <img src="https://github.githubassets.com/images/search-key-slash.svg" alt="" class="mr-2 header-search-key-slash">
          </i>
        </div>
      </div>
  
      <div class="item borderless">
        <a class="headeritem">Pull requests</a>
      </div>
  
      <div class="item borderless">
        <a class="headeritem">Issue</a>
      </div>
  
      <div class="item borderless">
        <a class="headeritem">Marketplace</a>
      </div>
  
      <div class="item borderless">
        <a class="headeritem">Explore</a>
      </div>
      </ng-container>
    </div>
  
    <div class="right menu">
      <div class="item borderless">
        <i class="bell outline icon"></i>
      </div>
  
      <div class="item borderless">
        <i class="plus icon"> </i>
        <i class="dropdown icon"></i>
      </div>
  
      <div style="margin-right: 1.4em;" class="item borderless">
      <div class="ui inline dropdown">
        <div class="text">
          <img class="ui avatar image" src={{userData.avatarUrl}}>
        </div>
        <i class="dropdown icon"></i>
  
        <!-- <div #dropDown style="display: inline-block;" class="menu">
  
          <div class="item">
            Signed in as <span>Firoz</span>
          </div>
  
          <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/36734896?s=60&v=4">
            Elliot Fu
          </div>
  
          <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/36734896?s=60&v=4">
            Stevie Feliciano
          </div>
  
          <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/36734896?s=60&v=4">
            Christian
          </div>
  
          <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/36734896?s=60&v=4">
            Matt
          </div>
  
          <div class="item">
            <img class="ui avatar image" src="https://avatars.githubusercontent.com/u/36734896?s=60&v=4">
            Justen Kitsune
          </div>
  
        </div> -->
  
  
      </div>
      </div>
    </div>
  
  </div>